body {
    font-family: "Poppins", Arial, sans-serif, "Pacifico";
    background-color: #f1fffa;
    color: #464e47;
}

/*-- nav menu --*/

.feature-container {
    position: fixed;
    z-index: 5;
    margin-top: 5em;
}

.feature-container-inside {
    position: absolute;
    top: -2vw;
    height: 50vw;
    width: 50vw;
    background: #f1fffa;
    transform: scale(.01);
    opacity: 0;
    transition: all .4s ease;
    border: 1ps solid black;
    box-shadow: 0 0 20px -10px black;
    margin-top: -17%;
    margin-left: -20%;
}

.feature-container-inside.active {
    opacity: 1;
    transform: scale(1);
    border-style: solid;
    border-color: #568259;
    width: 565px;
    height: 260px;
    margin-left: -2em;
    margin-top: -5em;
    position: fixed;
}

.feature-container-inside-text {
    font-weight: 500;
}

.feature-trigger-outline {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: 50px;
    background-color: #464e478a;
    box-shadow: inset 0 0 30px 5px black;
    border-radius: 5%;
}

.feature-trigger-outline::before {
    content: "";
    display: block;
    position: absolute;
    width: 100px !important;
    height: 100px;
    border-radius: 5%;
    opacity: 0;
    box-shadow: 0 0 30px -10px black;
    transition: all .4s ease;
    z-index: 2;
}

.feature-trigger-outline.active::before {
    opacity: 1;
}

.feature-trigger {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    border-radius: 50%;
    inline-size: fit-content;
}

.menu-text {
    margin-left: 62px;
    margin-top: -27px;
    color: #ccfccb;
    font-size: 18px;
}

.list-group-flush {
    margin-top: 8em;
    margin-left: 150px;
    text-align-last: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group-item {
    background-color: #fff0;
    border: none;
    display: contents;
}

.fa-2x {
    font-size: 1em;
}

.p-3 {
    padding: 0.5rem !important;
}

.mr-4 {
    margin-right: 2px !important;
    margin-bottom: 8px;
}

.mb-0, .my-0 {
    margin-bottom: 15px !important;
    margin-right: 10px;
}

.text-light {
    color:#568259 !important;
}

a.text-light:hover {
    color: #96e6b3 !important;
}

.btn-success {
    background-color: #ccfccb !important;
}

.nav-row {
    position: absolute;
}

/*-- navbar mobile device --*/

@media (max-width: 767px) {
    .feature-trigger-outline {
        margin-top: 20px;
        margin-left: 16px;
        width: 70px;
        height: 70px;
    }

    .menu-text {
        margin-left: 20px;
        margin-top: -17px;
        font-size: 12px;
    }

    .feature-container-inside {
        height: 90vw;
    }

    .feature-container-inside.active {
        width: 400px;
        height: 12em;
        margin-left: -10%;
        margin-top: -22%;
        text-align-last: justify;
    }

    .list-group-flush {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5.8em;
        margin-left: 78px;
        justify-content: space-evenly;
    }

    .mb-0 {
        font-size: 10px;
        margin-bottom: 15px !important;
        margin-right: 4px;
    }

    .my-0 {
        font-size: 14px;
    }

    .feature-trigger-outline::before {
        width: 70px !important;
        height: 70px;
    }

    .text-light {
        margin-top: 1em;
    }

    .feature-container {
        position: fixed;
        z-index: 5;
        margin-top: -1em;
    }
}

/*-- logo --*/

.logo {
    font-family: "Pacifico";
    color: #464e47;
    font-size: 54px;
    text-align: end;
    margin-top: revert;
    text-decoration: underline;
    letter-spacing: 3px;
    margin-right: 2em;
}

@media (max-width: 767px) {
    .logo {
        font-size: 32px;
        margin-right: 1em;
    }
}

/*-- footer --*/

footer {
    margin-top: 6em;
}

.page-footer {
    background-color: #464e47;
    box-shadow: 0 0 30px -10px black;
}

.pb-5, .py-5 {
    padding-bottom: 0 !important;
}

.fa-lg {
    font-size: 1.5em;
}

.footer-logo {
    text-align: center;
}

.footer-logo .logo {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ccfccb;
    margin-right: 0;
}

.footer-logo .logo:hover {
    color: #96e6b3 !important;
}

.fab:hover {
    color:#96e6b3 !important;
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.pt-5, .py-5 {
    padding-top: 2rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 2rem !important;
}

.d-flex {
    flex-wrap: wrap;
    justify-content: center;
}

footer.page-footer a {
    padding-bottom: 10px;
}

footer.page-footer .footer-copyright {
    align-self: center;
}

/*-- footer mobile device --*/

@media (max-width: 767px) {
    footer.page-footer {
        margin: 3%;
        border-radius: 0.5rem;
    }

    .py-5 {
        padding-top: 1rem !important;
    }

    footer.page-footer a {
        padding-bottom: 0;
        padding-top: 10px
    }
}

/*-- recipe page --*/

.recipe-card {
    background-color: #fff;
}

.back-to {
    padding-top: 8rem;
    color: #568259;
    text-decoration: underline;
}

.back-to-row {
    margin-top: 50px;
}

.back-to-margin-top {
    margin-top: 20px;
}

.recipe-title {
    justify-content: space-between;
}

.text-end {
    place-self: end;
}

.description {
    min-height: 10rem;
}

.recipe-name-label {
    margin-top: 0;
}

.recipe-type {
    background-color: #96e6b3;
    border-style: solid;
    border-radius: .5rem;
    text-align: center;
    padding: 10px;
}

.create-edit-header {
    font-size: 48px;
    text-decoration: underline;
    padding-top: 0;
}

.recipe-header {
    margin-bottom: -20px;
}

.ready-header {
    text-decoration: underline;
    margin-bottom: -30px;
    margin-top: 20px;
}

.time {
    width: 6em;
    text-align: center;
}

.md-form .form-control {
    border-color: #568259 !important;
    border-radius: 0.5rem !important;
    border-style: solid !important;
    color: #464e47;
}

.md-form label {
    position: relative;
    margin-top: 0;
    color: #464e47;
    font-weight: 400 !important;
}

.md-form label.active {
    transform: translateY(10px);
}

.md-form {
    padding-left: 3em;
    margin-right: inherit;
}

.add-btn {
    padding: 1em;
}

.add-btn-col{
    align-self: flex-end;
}

.pt-3-half { 
    padding-top: 1.4rem; 
}

.step_number:empty {
    position: relative;
}

.step_number:empty:before {
    color: #808080;
    content: "1";
    display: block;
}

input[type=number].no-spinner::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.number-padding {
    width:73px;
}

.grid {
    display: grid;
}

.optional {
    font-size: 10px;
}

.ingredient-text {
    resize: none;
}

.ingredient-text-max {
    resize: none;
    width: 100%;
    height:fit-content;
}

.ingredient-field ::placeholder {
    color: #f1fffa;
    opacity: 1;
    font-size: 12px;
    padding: 0;
}

.ingredients ::placeholder {
    color: #f1fffa;
    opacity: 1;
    font-size: 12px;
    padding: 0;
}


.ingredient-field {
    padding-left: 0;
    padding-right: 0;
}

.ingredient-field label {
    display: block;
    text-align: center;
}

.width-min {
    width: 5%;
}

.width-minish {
    width: 7%;
}

.fa-haykal {
    font-size: xx-large;
}

.date-end {
    display: flex;
    justify-content: flex-end;
}

.date-label {
    margin-top: 0;
    margin-bottom: 0;
    display: initial;
}

#date {
    border:none;
    display: inline-flex;
    resize: none;
}

@media (max-width: 1199px) {
    .recipe-type {
        padding: 16px;
    }
}

@media (max-width: 991px) {
    .recipe-type {
        padding: 10px;
    }

    .recipe-title {
        justify-content: inherit;
    }

    .ingredients-row {
        flex-wrap: nowrap;
    }

    .ingredients {
        flex-wrap: nowrap;
    }

    .ingredient-field ::placeholder {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .back-to-col-mob {
        padding: 0;
        font-size: 10px;
    }

    .recipe-margin-top-mob {
        margin-top: 5em;
        font-size: 0.7em;
    }

    .date-end {
        justify-content: start;
    }

    .card {
        width: 95%;
    }

    .card-body {
        padding: 1rem;
    }

    .form-control {
        font-size: 0.75rem;
    }

    .description {
        min-height: 5rem;
    }

    .recipe-header {
        font-size: 1.1rem;
        text-decoration: underline;
    }

    .card-panel {
        display: grid;
    }

    .ready-header-text {
        font-size: 0.7rem;
    }

    .recipe-time-row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .md-form label {
        overflow: visible;
        margin-bottom: 10px;
        font-size: 0.8rem;
        margin-left: 5px;
    }

    .md-form {
        margin-top: 0;
        margin-bottom: -17px;
        flex: 0 0 42%;
        max-width: 42%;
    }

    .ingredients-header {
        padding-top: 0;
        font-size: 20px;
    }

    #recipe_image {
        height: 120px;
    }

    .ingredients-row {
        display: none;
    }

    .haykal {
        display: none;
    }

    .method-input {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .food-field {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .size-field {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .step-header {
        font-size: 20px;
        padding-top: 2rem;
    }

    .create-edit-buttons .btn-lg {
        padding: .7rem 1.6rem;
        font-size: .7rem;
    }
}



/*-- register page --*/

.header {
    font-size: 48px;
    text-decoration: underline;
}

.card {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.card-width {
    width: 60%;
    margin-bottom: 6em;
}

label {
    margin-top: 2rem;
}

.info-color-dark {
    margin-top: 2rem;
}

.info-color-dark:hover {
    background-color: #33b5e5 !important;
}

.btn-grn {
    margin-top: 2rem;
    background-color: #96e6b3;
}

.btn-grn:hover {
    background-color: #ccfccb;
}

.btn-rd {
    margin-top: 2rem;
    background-color: #ff5d5d;
}

.btn-rd:hover {
    background-color: #ffa7a7;
}

.btn-group {
    display: flex;
}

h3 {
    padding-top: 4rem;
    font-weight: 400;
}

.reg-text {
    text-align: center;
    font-size: 24px;
}

.center-align {
    text-align: center;
}

.login {
    color: #568259;
    text-decoration: underline;
    cursor: pointer;
}

.login:hover {
    color: #96e6b3;
}

.form-control {
    background-color: #568259;
    color: #f1fffa;
    resize: none;
    padding-right: 0;
    padding-left: .25rem;
    overflow: hidden;
}

.fa-plus-square {
    color: #568259;
}

.fa-plus-square:hover {
    color: #96e6b3;
}

.fa-trash-alt {
    color:#ff5d5d
}

.fa-trash-alt:hover {
    color:#a06969
}

.input-field ::placeholder {
    color: #f1fffa;
    opacity: 1;
    font-size: 12px;
    padding: 0;
}

.rec-head {
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    align-self: end;
}

.public-text {
    align-items: end;
}

.custom-switch {
    padding-left: 2.75rem;
}


@media (max-width: 767px) {
    label {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .ingredient-field ::placeholder {
        color: #f1fffa;
        opacity: 1;
        font-size: 6px;
        padding: 0;
    }

    .header {
        font-size: 20px;
    }

    .create-edit-header {
        font-size: 20px;
    }
}

/*-- login page --*/

#login-image img {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

/*-- flash messages --*/

.alert {
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    background-color: #464e47;
    color: #f1fffa;
    border-color: #f1fffa;
    margin-top: 5em;
    margin-bottom: -5em;
}

.alert-heading {
    text-align: center;
}

@media (max-width: 767px) {
    .alert {
        width: 10em;
        margin-top: 0;
    }

    .alert-heading {
        font-size: 1em;
    }
}

/*-- profile page --*/

.profile-name {
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}

.profile-card-name {
    text-transform: capitalize;
    font-size: 18px;
    background-color: #464e47;
    color: #f1fffa;
    border-radius: 0.25rem;
    padding-left: 10px;
}

.profile-card {
    margin-left: 0;
    max-height: 600px;
    height: 600px;
}

.profile-logout {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.mt-3 {
    text-align: center;
    margin-top: 0 !important;
}

.custom-file-label {
    margin-top: 0;
}

.view img {
    object-fit: contain;
    height: 180px;
}

.card-deck {
    place-content: center;
}

.card-deck .card {
    max-width: 25em;
    min-width: 15em;
    flex: 1 0 auto;
    background-color: #fff;
}

.accordion {
    margin-right: 2%;
}

.accordion>.card>.card-header {
    margin-bottom: 0;
}

.width-max {
    width: 100%;
}

.profile-ipad-max {
    display: none;
}

@media (max-width: 1199px) {
    .profile-buttons .btn.btn-md {
        padding: .7rem 1rem;
    }

    .profile-card {
        height: 500px;
    }

    .profile-label {
        margin-top: 0;
    }

    .profile-card-deck .card {
        font-size: 0.75em;
    }

    .profile-recipe-button-flex {
        display: flex;
    }
}

@media (max-width: 991px) {
    .profile-ipad-max {
        display: inherit;
    }

    .profile-max {
        display: none;
    }

    .profile-card {
        height: 350px;
    }
}

@media (max-width: 767px) {
    .profile-logout {
        margin-top: 0;
    }

    .margin-top-zero {
        margin-top: 0;
    }

    .profile-card {
        height: 330px;
    }

    .profile-recipe-button-flex .btn-md {
        padding: .7rem 1rem;
        font-size: 0.5rem;
    }

    .profile-card-deck h6 {
        font-size: 0.75rem;
    }

    .profile-card-deck .card-title {
        font-size: 1rem;
    }

    .profile-card-deck .card .card-body .card-text {
        font-size: 0.75rem;
    }

    .profile-card-deck .view img {
        height: 110px;
    }
}

/*-- browse page --*/

.browse-card {
    border-style: solid;
    border-radius: .75em;
    background-color: #fff;
}

.form-inline .input-group {
    width: 100%
}

.py-1 {
    width: 90%;
}

.input-group.md-form.form-sm.form-2 input.search-border {
    border: 1px solid #464e47;
    border-radius: .25em 0 0 .25em;
    background-color: #96e6b3;
    margin-left: auto;
}

.input-group-append {
    margin-right: auto;
}

.md-form.input-group .input-group-text {
    background-color: #568259 !important;
    border-style: solid;
    border-color: #464e47;
    color: #f1fffa;
}

.md-form.form-sm .validate {
    margin-bottom: 0;
}

.margin-width-auto {
    margin-right: auto;
    margin-left: auto;
}

.browse-recipe {
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 10px;
    align-self: center;
}

.browse-button {
    align-self: center;
}

.recipe-browse-cards .card-deck {
    place-content: center;
}

.recipe-browse-cards .card-deck .card {
    background-color: #fff;
    max-width: 20em;
    min-width: 20em;
}

@media (max-width: 1199px) {
    .recipe-browse-cards .card-deck .card {
        max-width: 17em;
        min-width: 16em;
    }
}

@media (max-width: 991px) {
    .recipe-browse-cards .card-deck .card {
        max-width: 13em;
        min-width: 13em;
    }

    .recipe-browse-cards .view img {
        height: 118px;
    }
}

@media (max-width: 767px) {
    .search-section .md-form {
        margin-top: 30px;
        margin-bottom: 20px;
        max-width: 100%;
        flex: inherit;
    }

    .input-group-append {
        margin-left: -34px;
    }

    .browse-recipe {
        display: contents;
    }

    .browse-recipe .recipe-header {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .recipe-browse-cards .card-deck .card {
        max-width: 15em;
        min-width: 15em;
    }
}

/*-- view recipe page --*/

.view-recipe-header {
    text-align: center;
    margin-top: 2em;
    text-decoration: underline;
}

.recipe_view {
    background-color: #fff;
}

.bordered {
    border-style: solid;
    border-radius: .25rem;
    border-color: #568259;
}

.view-recipe-description {
    height: 100px;
    padding: 5px;
    font-size: x-large !important;
    height: fit-content;
}

.recipe_view .row {
    place-content: center;
}

.padding {
    padding: 20px;
}

.view-recipe-image {
    border-radius: calc(.25rem - 1px);
}

.serves {
    color: orange;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.cook_prep-time {
    color: #568259;
}

.fa-shopping-basket {
    color: orange;
}

.fa-bread-slice {
    color: #568259;
}

.middle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}