{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<section>
  <div class="container justify-content-center">
    <div class="card z-depth-0 bordered browse-card">
      <div class="card-body">
        <form class="form-inline mr-auto">
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="py-1 search-border" type="text" placeholder="Search for recipes..." aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-text1"><i class="fas fa-search text-grey"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="row margin-width-auto justify-content-between">
            <div class="col-9 card-panel browse-recipe">
              <h4 class="recipe-header">Search by Recipe Type</h4>
              <!-- Breakfast checkbox -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="recipe_type1" name="breakfast">
                <label class="custom-control-label" for="recipe_type1">Breakfast</label>
              </div>

              <!-- Lunch checkbox -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="recipe_type2" name="lunch">
                <label class="custom-control-label" for="recipe_type2">Lunch</label>
              </div>

              <!-- Dinner checkbox -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="recipe_type3" name="dinner">
                <label class="custom-control-label" for="recipe_type3">Dinner</label>
              </div>
              <!-- Dessert checkbox -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="recipe_type4" name="dessert">
                <label class="custom-control-label" for="recipe_type4">Dessert</label>
              </div>
              <!-- Snack checkbox -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="recipe_type5" name="snack">
                <label class="custom-control-label" for="recipe_type5">Snack</label>
              </div>
            </div>
            <!-- Recipe ready in time selections -->
            <div class="row">
            <div class="col-3 browse-recipe">
              <select class="browser-default custom-select">
                <option selected>How much time?</option>
                <option value="1" name="uptoTen">upto 10mins</option>
                <option value="2" name="uptoThirty">upto 30 mins</option>
                <option value="3" name="uptoHour">upto 1 hour</option>
                <option value="4" name="overHour">over 1 hour</option>
              </select>
            </div>
            </div>
          </div>
          <div class="row">
          <div class="col browse-button">
            <button class="btn btn-grn btn-rounded btn-md my-0 ml-sm-2" type="submit">Search</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Recipe cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card z-depth-0 bordered">
          <div class="card-body">
            <div class="mt-3 recipe-browse-cards">
              <div class="card-deck">
                {% for recipe in recipes %}
                {% if recipe.private_switch == null %}
                <div class="card mb-4">
                  <div class="view overlay">
                    {% if recipe.recipe_image == "" %}
                    <img class="card-img-top" src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg" alt="No Recipe image uploaded"/>
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% else %}
                    <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Recipe image"/>
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ recipe.recipe_name }}</h4>
                    <p class="card-text">{{ recipe.recipe_description }}</p>
                    <span>{{ recipe.ready_time }} h/mins</span>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}