{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<section>
  <!-- search text bar -->
  <div class="container justify-content-center">
    <div class="card z-depth-0 bordered browse-card">
      <div class="card-body">
        <div class="row center-align">
          <div class="col">
            <h4 class="recipe-header center-align">Search for Recipes here !</h4>
          </div>
        </div>
        <div class="row">
          <div class="col search-section">
            <form class="form-inline mr-auto justify-content-center" action="{{ url_for('search') }}" method="post">
              <div class="input-group md-form form-sm form-2 pl-0">
                <input class="py-1 search-border validate" type="text" name="query" id="query" minlength="2" maxlength="15"
                  placeholder="Search for recipes..." pattern="^[a-zA-Z0-9]{2,15}$" aria-label="Search" spellcheck="true">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-text1"><i class="fas fa-search text-grey"
                      aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="col card-panel browse-recipe">
                <h5 class="recipe-header"><em>Or Browse by Recipe Type (Potential to remove card)</em></h5>
                <!-- Breakfast checkbox -->
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="recipe_type1" name="recipe_category_selected" value="breakfast">
                  <label class="custom-control-label" for="recipe_type1">Breakfast</label>
                </div>
              </div>
              <!-- Lunch checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type2" name="recipe_category_selected" value="lunch">
              <label class="custom-control-label" for="recipe_type2">Lunch</label>
            </div>

            <!-- Dinner checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type3" name="recipe_category_selected" value="dinner">
              <label class="custom-control-label" for="recipe_type3">Dinner</label>
            </div>
            <!-- Dessert checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type4" name="recipe_category_selected" value="dessert">
              <label class="custom-control-label" for="recipe_type4">Dessert</label>
            </div>
            <!-- Snack checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type5" name="recipe_category_selected" value="snack">
              <label class="custom-control-label" for="recipe_type5">Snack</label>
            </div>
              <div class="row center-align">
                <div class="col browse-button">
                  <a href="{{ url_for('browse') }}" class="red btn btn-red btn-rounded btn-md my-0 ml-sm-2">Reset</a>
                  <button class="btn btn-grn btn-rounded btn-md my-0 ml-sm-2" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- search recipe-type bar -->
  <div class="container justify-content-center">
    <div class="card z-depth-0 bordered browse-card">
      <div class="card-body">
        <div class="row margin-width-auto justify-content-between">
          <div class="col card-panel browse-recipe">
            <h5 class="recipe-header"><em>Or Browse by Recipe Type (Potential to remove card)</em></h5>
            <!-- Breakfast checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type1" name="query" value="breakfast">
              <label class="custom-control-label" for="recipe_type1">Breakfast</label>
            </div>

            <!-- Lunch checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type2" name="lunch">
              <label class="custom-control-label" for="recipe_type2">Lunch</label>
            </div>

            <!-- Dinner checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type3" name="dinner">
              <label class="custom-control-label" for="recipe_type3">Dinner</label>
            </div>
            <!-- Dessert checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type4" name="dessert">
              <label class="custom-control-label" for="recipe_type4">Dessert</label>
            </div>
            <!-- Snack checkbox -->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="recipe_type5" name="snack">
              <label class="custom-control-label" for="recipe_type5">Snack</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Recipe cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card z-depth-0 bordered">
          <div class="card-body">
            <div class="mt-3 recipe-browse-cards">
              <div class="card-deck">
                {% for recipe in recipes %}
                {% if recipe.private_switch is none %}
                <div class="card mb-4">
                  <div class="view overlay">
                    {% if recipe.recipe_image == "" %}
                    <img class="card-img-top"
                      src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg"
                      alt="No Recipe image uploaded" />
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% else %}
                    <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Recipe image" />
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ recipe.recipe_name }}</h4>
                    <p class="card-text">{{ recipe.recipe_description }}</p>
                    <span>{{ recipe.ready_time }} h/mins</span>
                  </div>
                  <div>
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn peach-gradient" type="button">
                      View Recipe
                      <i class="fas fa-clipboard-list"></i>
                    </a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}