{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<h3 class="text-center header">Edit your Profile</h3>

<div class="card card-width row">
    <form class="card-body" method="POST" action="{{ url_for('edit_profile', member_id=member._id) }}">
        <div class="card-title card-panel">
            <!-- name fields -->
            <div class="row">
                <div class="col s-12 input-with-pre-icon">
                    <i class="fas fa-user input-prefix"></i>
                    <label for="firstName">Change First Name </label>
                    <input type="text" id="firstName" name="firstName" class="form-control validate" minlength="2"
                        maxlength="15" pattern="^[a-zA-Z0-9]{2,15}$" required value ="{{ member.firstName }}"/>
                </div>
                <div class="col s-12 input-with-pre-icon">
                    <i class="fas fa-user input-prefix"></i>
                    <label for="lastName">Change Last Name </label>
                    <input type="text" id="lastName" name="lastName" class="form-control validate" minlength="2"
                        maxlength="15"  pattern="^[a-zA-Z0-9]{2,15}$" required value="{{ member.lastName }}"/>
                </div>
            </div>
            <!-- email -->
            <div class="row">
                <div class="col s-12 input-with-pre-icon">
                    <i class="fas fa-envelope prefix"></i>
                    <label for="email" data-error="wrong" data-success="right">Email </label>
                    <input type="email" id="email" name="email" class="form-control" 
                        minlength="5" readonly validate value="{{ member.email }}"/>                    
                </div>
            </div>
            <!-- password  -->
            <div class="row">
                <div class="col s-12 input-with-pre-icon">
                    <i class="fas fa-lock prefix prefix"></i>
                    <label for="password" data-error="wrong" data-success="right">Change Password </label>
                    <input type="password" id="password" name="password" class="form-control validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
            </div>
            <!-- register -->
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-grn btn-lg">Edit <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}