{% extends "base.html" %}
{% block content %}

<section class="home-image">

    <div class="container center-align home-back-color">
        <div class="row">
            <div class="col-9">
                <h2 class="logo home-logo">Eatin</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h3 class="tag-line">At home with your dining</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid home-back-color">
        <div class="row home-padding">
            <div class="col-6 home-mob-col">
                <p class="home-para-text">When you’re at home and stuck for dining ideas or when you’ve got those last
                    bits in the fridge and figured this could be a use-up day. Browse through our site to help give you
                    some inspriation on what to cook</p>
                <br>
            </div>
        </div>
        <div class="row home-padding">
            <div class="col-6 home-mob-col">
                <p class="home-para-text">Or better still, you may have some great recipes and want a place to keep them
                    and share to our other members.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid home-bottom-filler home-back-color">
        <div class="row home-padding">
            <a href="{{ url_for('browse') }}" class="logo home-text-logo">Eatin.. </a>
            <p class="home-para-text here-to-help"> is here to help!</p>
        </div>
        <div class="row home-padding">
            <div class="col-6 home-mob-col">
                <p class="home-para-text">Come in and see what’s on the Menu !</p>
            </div>
        </div>
    </div>

    <div class="container home-back-color">
        <div class="row filler">
            <div class ="col-lg">

            </div>
        </div>
    </div>

</section>

{% endblock %}