<!DOCTYPE html>
<html lang="en">

<section class="login-image">
{% extends "base.html" %}
{% block content %}



    <h2 class="logo">Eatin</h2>

    <h3 class="text-center header login-header">Login</h3>

    <div class="card login-card-width row">
        <form class="card-body login-body" method="POST" action="{{ url_for('login') }}">
            <div class="card-title card-panel">
                <!-- email -->
                <div class="row">
                    <div class="col s-12 input-with-pre-icon">
                        <i class="fas fa-user-cog prefix"></i>
                        <label for="email" data-error="wrong" data-success="right">Email </label>
                        <input type="email" id="email" name="email" class="form-control validate" minlength="5"
                            required>
                    </div>
                </div>
                <!-- password  -->
                <div class="row">
                    <div class="col s-12 input-with-pre-icon">
                        <i class="fas fa-lock prefix prefix"></i>
                        <label for="password" data-error="wrong" data-success="right">Password </label>
                        <input type="password" id="password" name="password" class="form-control validate" minlength="5"
                            maxlength="15" required>
                    </div>
                </div>
                <!-- login -->
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-grn btn-lg">Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="login-reg-text">Not already a member? Click
                    <a class="login" href="{{ url_for('register') }}">Register</a>
                </p>
            </div>
        </div>
    </div>



{% endblock %}
</section>

</html>