{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<div class="row">
  <div class="col reg-text">
    <h3 class="text-center profile-name">
      {{ first_name }}'s Profile
    </h3>
  </div>
</div>

<div class="row">
  <!-- Profile details -->
  <div class="card profile-card col-3">
    <div class="card-body">
      <div class="card-title card-panel">
        <div class="row">
          <div class="col s-12 input-with-pre-icon">
            <i class="fas fa-user input-prefix"></i>
            <label for="firstName">First Name </label>
            <p class="profile-card-name">{{ first_name }}</p>
          </div>

          <div class="col s-12 input-with-pre-icon">
            <i class="fas fa-user input-prefix"></i>
            <label for="lastName">Last Name </label>
            <p class="profile-card-name">{{ last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s-12 input-with-pre-icon">
            <i class="fas fa-envelope prefix"></i>
            <label for="email" data-error="wrong" data-success="right">Email </label>
            <p class="profile-card-name">{{ email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn info-color-dark btn-md" type="button">
              Edit account
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-rd btn-md" type="button">
              Delete account
              <i class="fas fa-user-times"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col reg-text">
            <a href="{{ url_for('recipes') }}" class="btn btn-grn btn-lg">Create
              Recipe
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Public/Private card buttons -->
  <div class="col-9">
    <div class="accordion" id="accordionExample275">
      <div class="card z-depth-0 bordered">
        <div class="card-header reg-text" id="headingOne2">
          <h5 class="mb-0">
            <button class="btn btn-grn width-max" type="button" data-toggle="collapse" data-target="#collapseOne2"
              aria-expanded="true" aria-controls="collapseOne2">
              Public Recipes
            </button>
          </h5>
        </div>
        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample275">
          <div class="card-body">
            {% if member_recipes|length > 0 %}
            <div class="mt-3">
              <div class="card-deck">
                {% for member_recipe in member_recipes %}
                {% if member_recipe.private_switch is none %}
                <div class="card mb-4">
                  <div class="view overlay">
                    {% if member_recipe.recipe_image == "" %}
                    <img class="card-img-top"
                      src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg"
                      alt="No Recipe image uploaded" />
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% else %}
                    <img class="card-img-top" src="{{ member_recipe.recipe_image }}" alt="Recipe image">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ member_recipe.recipe_name }}</h4>
                    <p class="card-text">{{ member_recipe.recipe_description }}</p>
                    <div>
                      <div>
                        <a class="btn peach-gradient" type="button">
                          View Recipe
                          <i class="fas fa-clipboard-list"></i>
                        </a>
                      </div>
                      <div>
                        <a class="btn info-color-dark btn-md" type="button"
                          href="{{ url_for('edit_recipes', member_recipe_id=member_recipe._id)}}">
                          Edit Recipe
                          <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-rd btn-md" type="button"
                          href="{{ url_for('delete_recipes', member_recipe_id=member_recipe._id)}}">
                          Delete Recipe
                          <i class="far fa-calendar-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% else %}
            <h3 class="center-align">No Recipes, why not create one?</h3>
            <div class="row">
              <div class="col reg-text">
                <a href="{{ url_for('recipes') }}" class="btn btn-grn btn-lg">Create
                  Recipe
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card z-depth-0 bordered">
        <div class="card-header reg-text" id="headingTwo2">
          <h5 class="mb-0">
            <button class="btn btn-grn width-max" type="button" data-toggle="collapse" data-target="#collapseTwo2"
              aria-expanded="false" aria-controls="collapseTwo2">
              Private Recipes
            </button>
          </h5>
        </div>
        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample275">
          <div class="card-body">
            <div class="mt-3">
              {% if member_recipes|length > 0 %}
              <div class="card-deck">
                {% for member_recipe in member_recipes %}
                {% if member_recipe.private_switch == "on" %}
                <div class="card mb-4">
                  <div class="view overlay">
                    {% if member_recipe.recipe_image == "" %}
                    <img class="card-img-top"
                      src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg"
                      alt="No Recipe image uploaded" />
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% else %}
                    <img class="card-img-top" src="{{ member_recipe.recipe_image }}" alt="Recipe image" />
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{ member_recipe.recipe_name }}</h4>
                    <p class="card-text">{{ member_recipe.recipe_description }}</p>
                    <div>
                      <a class="btn peach-gradient" type="button">
                        View Recipe
                        <i class="fas fa-clipboard-list"></i>
                      </a>
                    </div>
                    <a class="btn info-color-dark btn-md" type="button"
                      href="{{ url_for('edit_recipes', member_recipe_id=member_recipe._id)}}">
                      Edit Recipe
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-rd btn-md" type="button"
                      href="{{ url_for('delete_recipes', member_recipe_id=member_recipe._id)}}">
                      Delete Recipe
                      <i class="far fa-calendar-times"></i>
                    </a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              {% else %}
            </div>
            <h3 class="center-align">No Recipes, why not create one?</h3>
            <div class="row">
              <div class="col reg-text">
                <a href="{{ url_for('recipes') }}" class="btn btn-grn btn-lg">Create
                  Recipe
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}