{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<div class="row">
    <div class="col-4 text-center text-end">
        <a href="{{ url_for('profile', first_name=session['member']) }}" class="back-to">Back to Profile
        </a>
    </div>
    <div class="col-8">
        <h3 class="header">Create your Recipe</h3>
    </div>
</div>

<div class="card row">
    <form class="card-body" method="POST" action="{{ url_for('recipes') }}">
        <div class="card-title card-panel">
            <!-- recipe name and description -->
            <div class="row">
                <div class="col">
                    <label for="recipe_name">Name</label>
                    <textarea id="recipe_name" name="recipe_name" class="form-control" minlength="2" maxlength="100"
                        required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="recipe_description">Description</label>
                <textarea class="form-control description" id="recipe_description" name="recipe_description"
                    maxlength="400"></textarea>
            </div>
            <!-- image upload and recipe type -->
            <div class="card-body row">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="url">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="recipe_image" name="recipe_image"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="recipe_image">
                                Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 card-panel recipe-type">
                    <h4 class="recipe-header">Recipe Type</h4>
                    <!-- Breakfast checkbox -->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="recipe_type1" name="breakfast">
                        <label class="custom-control-label" for="recipe_type1">Breakfast</label>
                    </div>

                    <!-- Lunch checkbox -->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="recipe_type2" name="lunch">
                        <label class="custom-control-label" for="recipe_type2">Lunch</label>
                    </div>

                    <!-- Dinner checkbox -->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="recipe_type3" name="dinner">
                        <label class="custom-control-label" for="recipe_type3">Dinner</label>
                    </div>
                    <!-- Dessert checkbox -->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="recipe_type4" name="dessert">
                        <label class="custom-control-label" for="recipe_type4">Dessert</label>
                    </div>
                    <!-- Snack checkbox -->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="recipe_type5" name="snack">
                        <label class="custom-control-label" for="recipe_type5">Snack</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 md-form">
                    <label for="serves">Serves</label>
                    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control time no-spinner" id="serves" name="serves" minlength="0" maxlength="2" pattern="[0-9]" required>
                </div>
                <div class="col-3 md-form">
                    <label for="prep_time">Prep time</label>
                    <input type="time" class="form-control time" id="prep_time" name="prep_time" min="0" required>
                </div>
                <div class="col-3 md-form">
                    <label for="cook_time">Cook time</label>
                    <input type="time" class="form-control time" id="cook_time" name="cook_time" min="0" required>
                </div>
                <div class="col-3 md-form">
                    <label for="ready_time">Ready in</label>
                    <input type="time" class="form-control time" id="ready_time" name="ready_time" min="0" required>
                </div>
            </div>
            <!-- ingredients header -->
            <div class="col header reg-text">
                <h3>Ingredients</h3>
            </div>

            <!-- ingredients form -->
            <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Move up <br>/ Move down</th>
                            <th class="text-center">Food</th>
                            <th class="text-center">Quantity<br><span class="optional">(Optional)</span></th>
                            <th class="text-center">Size<br><span class="optional">(Optional)</span></th>
                            <th class="text-center">Weight(kg)<br><span class="optional">(Optional)</span></th>
                            <th class="text-center">Volume(lb)<br><span class="optional">(Optional)</span></th>
                            <th class="text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-3-half">
                                <span class="table-up"><a href="#!" class="indigo-text"><i
                                            class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
                                <span class="table-down"><a href="#!" class="indigo-text"><i
                                            class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
                            </td>
                            <td class="pt-3-half food">
                                <textarea name="food" class="ingredient-text" minlength="2" maxlength="40"
                                required></textarea>
                            </td>
                            <td class="pt-3-half count">
                                <input name="count" class="no-spinner number-padding" type="number" min="0" maxlength="3" placeholder="Quantity"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </td>
                            <td class="pt-3-half size">
                                <textarea name="size" class="ingredient-text" minlength="2" maxlength="30" placeholder="e.g. Small, Medium, Large"
                                ></textarea>
                            </td>
                            <td class="pt-3-half weight">
                                <input name="weight" class="no-spinner number-padding" type="number" min="0" maxlength="6" step="0.01" placeholder="(kg)"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </td>
                            <td class="pt-3-half volume">
                                <input name="volume" class="no-spinner number-padding" type="number" min="0" maxlength="6" step="0.01" placeholder="(lb)"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </td>
                            
                            <td>
                                <span class="table-remove"><button type="button"
                                        class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- step by step header -->
            <div class="col header reg-text">
                <h3>Step by Step Instructions</h3>
            </div>

            <!-- step by step instructions -->
            <div id="table_steps" class="table-editable_steps">
                <span class="table-add_steps float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Move up <br>/ Move down</th>
                            <th class="text-center">Step</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-3-half width-minish">
                                <span class="table-up_steps"><a href="#!" class="indigo-text"><i
                                            class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
                                <span class="table-down_steps"><a href="#!" class="indigo-text"><i
                                            class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
                            </td>
                            <td class="pt-3-half step_number width-min" contenteditable="false"></td>
                            <td class="pt-3-half count ">
                                <textarea name="recipe_step" class="ingredient-text-max" minlength="2" maxlength="300"
                                ></textarea>
                            </td>                            
                            <td class="width-min">
                                <span class="table-remove_steps"><button type="button"
                                        class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- submit / cancel buttons -->
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-grn btn-lg">Create
                    <i class="fas fa-sign-in-alt"></i>
                </button>
                <button type="button" class="btn btn-rd btn-lg">Cancel
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% for recipe in recipes %}
{{ recipe.name }}<br>
{{ recipe.description }}<br>
{{ recipe.type }}<br>
{{ recipe.serves }}<br>
{{ recipe.prep_time }}<br>
{{ recipe.cook_time }}<br>
{{ recipe.ready_time }}<br>

{% endfor %}

{% endblock %}