{% extends "base.html" %}
{% block content %}

<h2 class="logo">Eatin</h2>

<section>
  <!-- search text bar -->
  <div class="container justify-content-center">
    <div class="card z-depth-0 bordered browse-card">
      <div class="card-body">
        <div class="row center-align">
          <div class="col">
            <h4 class="recipe-header center-align">Search for Recipes</h4>
          </div>
        </div>
        <div class="row">
          <div class="col search-section">
            <form class="form-inline mr-auto justify-content-center" action="{{ url_for('search') }}" method="post">
              <div class="container">
                <div class="row">
                  <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="py-1 search-border validate" type="text" name="query" id="query" minlength="2" maxlength="15"
                      placeholder="Search for recipes..." pattern="^[a-zA-Z0-9 ]{2,15}$" aria-label="Search"
                        spellcheck="true">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-text1"><i class="fas fa-search text-grey"
                          aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row center-align">
                  <div class="col browse-button">
                    <a href="{{ url_for('browse') }}" class="red btn btn-red btn-rounded btn-md my-0 ml-sm-2">Reset</a>
                    <button class="btn btn-grn btn-rounded btn-md my-0 ml-sm-2" type="submit">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Search category bar -->
<div class="container justify-content-center">
  <div class="card z-depth-0 bordered browse-card">
    <div class="card-body">
      <div class="row center-align">
        <div class="col">
          <h4 class="recipe-header center-align">Select by Recipe Category</h4>
        </div>
      </div>
      <div class="container justify-content-center recipe-browse-container">
        <div class="row center-align recipe-search">
          <div class="col browse-button">
            <a href="{{ url_for('show_breakfast') }}"
              class="btn purple-gradient btn-rounded btn-md my-0 ml-sm-2">Breakfasts</a>
          </div>
          <div class="col browse-button">
            <a href="{{ url_for('show_lunch') }}"
              class="btn peach-gradient btn-rounded btn-md my-0 ml-sm-2">Lunches</a>
          </div>
        </div>
        <div class="row center-align recipe-search">
          <div class="col browse-button">
            <a href="{{ url_for('show_dinner') }}"
              class="btn aqua-gradient btn-rounded btn-md my-0 ml-sm-2">Dinners</a>
          </div>
          <div class="col browse-button">
            <a href="{{ url_for('show_dessert') }}"
              class="btn blue-gradient btn-rounded btn-md my-0 ml-sm-2">Desserts</a>
          </div>
        </div>
        <div class="row center-align recipe-search">
          <div class="col browse-button">
            <a href="{{ url_for('show_snack') }}"
              class="btn btn-pink btn-rounded btn-md my-0 ml-sm-2">Snacks</a>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col browse-button">
          <a href="{{ url_for('browse') }}" class="red btn btn-red btn-rounded btn-md my-0 ml-sm-2">Reset</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Recipe cards -->

{% for recipe in recipe_card %}
{% if recipe.private_switch is none %}
<!-- view recipe mobile fit -->
<section class="view-recipe-nonmobile">
  <h1 class="view-recipe-header">{{ recipe.recipe_name }}</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card z-depth-0 bordered">
          <div class="card-body">
            <div class="card mb-4">
              <div class="recipe_view overlay row">
                <div class="col-2 middle">
                  <h6>Created: {{ recipe.date }}</h6>
                  <a href="{{ url_for('browse') }}" class="back-to">Back to Search</a>
                </div>
                {% if recipe.recipe_image == "" %}
                <div class="col-5">
                  <img class="card-img-top"
                    src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg"
                    alt="No Recipe image uploaded" />
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                {% else %}
                <div class="col-5 padding center-align">
                  <img class="card-img-top view-recipe-image" src="{{ recipe.recipe_image }}" alt="Recipe image" />
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                {% endif %}
                <div class="col-5 card-body">
                  <div class="row">
                    <p class="card-text center-align bordered view-recipe-description">{{ recipe.recipe_description }}
                    </p>
                  </div>
                  <div class="container padding">
                    <div class="row center-align">
                      <div class="col">
                        <p class="serves margin-bottom-zero">Serves</p>
                        <p>{{ recipe.serves }}</p>
                      </div>
                      <div class="col">
                        <p class="margin-bottom-zero">Ready In</p>
                        <p>{{ recipe.ready_time }} h/mins</p>
                      </div>
                    </div>
                    <div class="row center-align">
                      <div class="col">
                        <p class="cook_prep-time margin-bottom-zero">Cook Time</p>
                        <p>{{ recipe.cook_time }} h/mins</p>
                      </div>
                      <div class="col">
                        <p class="cook_prep-time margin-bottom-zero">Prep. Time</p>
                        <p>{{ recipe.prep_time }} h/mins</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-5">
                      <h3>Ingredients <i class="fas fa-shopping-basket"></i></h3>
                      <ul>
                        {% if recipe.food[0] != null %}
                        <li>{{ recipe.count[0] }} {{ recipe.size[0] }} 
                            {% if recipe.weight[0] != "" %}
                            {{ recipe.weight[0] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[0] != "" %}
                            {{ recipe.volume[0] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[0] }}</li>
                        {% endif %}
                        {% if recipe.food[1] != null %}
                        <li>{{ recipe.count[1] }} {{ recipe.size[1] }} 
                            {% if recipe.weight[1] != "" %}
                            {{ recipe.weight[1] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[1] != "" %}
                            {{ recipe.volume[1] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[1] }}</li>
                        {% endif %}
                        {% if recipe.food[2] != null %}
                        <li>{{ recipe.count[2] }} {{ recipe.size[2] }} 
                            {% if recipe.weight[2] != "" %}
                            {{ recipe.weight[2] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[2] != "" %}
                            {{ recipe.volume[2] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[2] }}</li>
                        {% endif %}
                        {% if recipe.food[3] != null %}
                        <li>{{ recipe.count[3] }} {{ recipe.size[3] }} 
                            {% if recipe.weight[3] != "" %}
                            {{ recipe.weight[3] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[3] != "" %}
                            {{ recipe.volume[3] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[3] }}</li>
                        {% endif %}
                        {% if recipe.food[4] != null %}
                        <li>{{ recipe.count[4] }} {{ recipe.size[4] }} 
                            {% if recipe.weight[4] != "" %}
                            {{ recipe.weight[4] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[4] != "" %}
                            {{ recipe.volume[4] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[4] }}</li>
                        {% endif %}
                        {% if recipe.food[5] != null %}
                        <li>{{ recipe.count[5] }} {{ recipe.size[5] }} 
                            {% if recipe.weight[5] != "" %}
                            {{ recipe.weight[5] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[5] != "" %}
                            {{ recipe.volume[5] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[5] }}</li>
                        {% endif %}
                        {% if recipe.food[6] != null %}
                        <li>{{ recipe.count[6] }} {{ recipe.size[6] }} 
                            {% if recipe.weight[6] != "" %}
                            {{ recipe.weight[6] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[6] != "" %}
                            {{ recipe.volume[6] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[6] }}</li>
                        {% endif %}
                        {% if recipe.food[7] != null %}
                        <li>{{ recipe.count[7] }} {{ recipe.size[7] }} 
                            {% if recipe.weight[7] != "" %}
                            {{ recipe.weight[7] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[7] != "" %}
                            {{ recipe.volume[7] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[7] }}</li>
                        {% endif %}
                        {% if recipe.food[8] != null %}
                        <li>{{ recipe.count[8] }} {{ recipe.size[8] }} 
                            {% if recipe.weight[8] != "" %}
                            {{ recipe.weight[8] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[8] != "" %}
                            {{ recipe.volume[8] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[8] }}</li>
                        {% endif %}
                        {% if recipe.food[9] != null %}
                        <li>{{ recipe.count[9] }} {{ recipe.size[9] }} 
                            {% if recipe.weight[9] != "" %}
                            {{ recipe.weight[9] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[9] != "" %}
                            {{ recipe.volume[9] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[9] }}</li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-7">
                      <h3>Method <i class="fas fa-bread-slice"></i></h3>
                      <ol>
                        {% if recipe.recipe_method[0] != null %}
                        <li class="padding">{{ recipe.recipe_method[0] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[1] != null %}
                        <li class="padding">{{ recipe.recipe_method[1] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[2] != null %}
                        <li class="padding">{{ recipe.recipe_method[2] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[3] != null %}
                        <li class="padding">{{ recipe.recipe_method[3] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[4] != null %}
                        <li class="padding">{{ recipe.recipe_method[4] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[5] != null %}
                        <li class="padding">{{ recipe.recipe_method[5] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[6] != null %}
                        <li class="padding">{{ recipe.recipe_method[5] }}</li>
                        {% endif %}
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="view-recipe-mobile">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card z-depth-0 bordered">
          <div class="card-body recipe-mobile-body">
            <div class="card mb-4 recipe_view ">
              <div class="row recipe-row-space-between">
                <div class="col-12 recipe-date-col">
                  <h6>Created: {{ recipe.date }}</h6>
                </div>
              </div>
              <div class="row">
                {% if recipe.recipe_image == "" %}
                <div class="col-10">
                  <img class="card-img-top"
                    src="https://www.moregreenenergy.com.au/MoreGreen/Client-Admin/uploads/NoImage.jpg"
                    alt="No Recipe image uploaded" />
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                {% else %}
                <div class="col-10 padding center-align">
                  <img class="card-img-top view-recipe-image" src="{{ recipe.recipe_image }}" alt="Recipe image" />
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                {% endif %}
              </div>
              <div class="row">
                <div class="col card-body">
                  <div class="row">
                    <div class="col">
                      <h1 class="view-recipe-header">{{ recipe.recipe_name }}</h1>
                    </div>
                  </div>
                  <div class="row">
                    <p class="card-text center-align bordered view-recipe-description">{{ recipe.recipe_description }}
                    </p>
                  </div>
                  <div class="container">
                    <div class="row center-align">
                      <div class="col serves-col">
                        <p class="serves margin-bottom-zero">Serves</p>
                        <p>{{ recipe.serves }}</p>
                      </div>
                      <div class="col">
                        <p class="margin-bottom-zero">Ready In</p>
                        <p>{{ recipe.ready_time }} h/mins</p>
                      </div>
                    </div>
                    <div class="row center-align">
                      <div class="col">
                        <p class="cook_prep-time margin-bottom-zero">Cook Time</p>
                        <p>{{ recipe.cook_time }} h/mins</p>
                      </div>
                      <div class="col">
                        <p class="cook_prep-time margin-bottom-zero">Prep. Time</p>
                        <p>{{ recipe.prep_time }} h/mins</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h3 class="center-align view-recipe-ingred-header">Ingredients <i class="fas fa-shopping-basket"></i></h3>
                      <ul>
                        {% if recipe.food[0] != null %}
                        <li>{{ recipe.count[0] }} {{ recipe.size[0] }} 
                            {% if recipe.weight[0] != "" %}
                            {{ recipe.weight[0] }}<em>g</em> 
                            {% endif %}
                            {% if recipe.volume[0] != "" %}
                            {{ recipe.volume[0] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[0] }}</li>
                        {% endif %}
                        {% if recipe.food[1] != null %}
                        <li>{{ recipe.count[1] }} {{ recipe.size[1] }} 
                            {% if recipe.weight[1] != "" %}
                            {{ recipe.weight[1] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[1] != "" %}
                            {{ recipe.volume[1] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[1] }}</li>
                        {% endif %}
                        {% if recipe.food[2] != null %}
                        <li>{{ recipe.count[2] }} {{ recipe.size[2] }} 
                            {% if recipe.weight[2] != "" %}
                            {{ recipe.weight[2] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[2] != "" %}
                            {{ recipe.volume[2] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[2] }}</li>
                        {% endif %}
                        {% if recipe.food[3] != null %}
                        <li>{{ recipe.count[3] }} {{ recipe.size[3] }} 
                            {% if recipe.weight[3] != "" %}
                            {{ recipe.weight[3] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[3] != "" %}
                            {{ recipe.volume[3] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[3] }}</li>
                        {% endif %}
                        {% if recipe.food[4] != null %}
                        <li>{{ recipe.count[4] }} {{ recipe.size[4] }} 
                            {% if recipe.weight[4] != "" %}
                            {{ recipe.weight[4] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[4] != "" %}
                            {{ recipe.volume[4] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[4] }}</li>
                        {% endif %}
                        {% if recipe.food[5] != null %}
                        <li>{{ recipe.count[5] }} {{ recipe.size[5] }} 
                            {% if recipe.weight[5] != "" %}
                            {{ recipe.weight[5] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[5] != "" %}
                            {{ recipe.volume[5] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[5] }}</li>
                        {% endif %}
                        {% if recipe.food[6] != null %}
                        <li>{{ recipe.count[6] }} {{ recipe.size[6] }} 
                            {% if recipe.weight[6] != "" %}
                            {{ recipe.weight[6] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[6] != "" %}
                            {{ recipe.volume[6] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[6] }}</li>
                        {% endif %}
                        {% if recipe.food[7] != null %}
                        <li>{{ recipe.count[7] }} {{ recipe.size[7] }} 
                            {% if recipe.weight[7] != "" %}
                            {{ recipe.weight[7] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[7] != "" %}
                            {{ recipe.volume[7] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[7] }}</li>
                        {% endif %}
                        {% if recipe.food[8] != null %}
                        <li>{{ recipe.count[8] }} {{ recipe.size[8] }} 
                            {% if recipe.weight[8] != "" %}
                            {{ recipe.weight[8] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[8] != "" %}
                            {{ recipe.volume[8] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[8] }}</li>
                        {% endif %}
                        {% if recipe.food[9] != null %}
                        <li>{{ recipe.count[9] }} {{ recipe.size[9] }} 
                            {% if recipe.weight[9] != "" %}
                            {{ recipe.weight[9] }}<em>g</em>
                            {% endif %}
                            {% if recipe.volume[9] != "" %}
                            {{ recipe.volume[9] }}<em>ml</em>
                            {% endif %}
                          {{ recipe.food[9] }}</li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h3 class="center-align view-recipe-method-header">Method <i class="fas fa-bread-slice"></i></h3>
                      <ol>
                        {% if recipe.recipe_method[0] != null %}
                        <li class="padding">{{ recipe.recipe_method[0] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[1] != null %}
                        <li class="padding">{{ recipe.recipe_method[1] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[2] != null %}
                        <li class="padding">{{ recipe.recipe_method[2] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[3] != null %}
                        <li class="padding">{{ recipe.recipe_method[3] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[4] != null %}
                        <li class="padding">{{ recipe.recipe_method[4] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[5] != null %}
                        <li class="padding">{{ recipe.recipe_method[5] }}</li>
                        {% endif %}
                        {% if recipe.recipe_method[6] != null %}
                        <li class="padding">{{ recipe.recipe_method[5] }}</li>
                        {% endif %}
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8 recipe-back-col">
                    <a href="{{ url_for('browse') }}" class="back-to">Back to Search</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}
{% endblock %}